<footer class="d-flex">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="logofooter">
        <div class="logocenter">
          <a routerLink="/home"><img src="assets/images/logo-footer.svg"></a>
          <a href="javasctipt:void(0)">Download our app for iOS and Android!</a>
        </div>

      </div>
      <div class="footerlink">
        <h6>Product</h6>
        <ul>
          <li><a style="cursor: pointer;color: #a4a4a4;" (click)="newarrivalclilk()">New Arrival</a></li>
          <li><a style="cursor: pointer;color: #a4a4a4;" (click)="topsellerclilk()">Trending</a></li>
        </ul>
      </div>
      <div class="footerlink">
            <h6>Company</h6>
            <ul>
              <li><a href='mailto:support@hairfolioapp.com'>Contact</a></li>
              <li><a href="http://hairfolioapp.com/about-us/">About Us</a></li>
            </ul>
      </div>
      <div class="socailcol">
            <h6>Social</h6>
            <ul>
              <li><a href="https://www.facebook.com/hairfolioapp/" class="facebook"></a></li>
              <li><a href="https://twitter.com/HairfolioApp" class="twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/stephen-d-amico-020234ab" class="linkedin"></a></li>
              <li><a href="https://pinterest.com/Hairfolioapp" class="pintrest"></a></li>
              
            </ul>
      </div>
    </div>
    <div class="row justify-content-between copyright">
        <div class="copyrightcontent">
          <p>© 2018 Hairfolio . All rights reserved.</p>
        </div>
        <div class="otherlink">
          <ul class="d-flex justify-content-between">
            <li><a href="javasctipt:void(0)">Privacy policy</a></li>
            <li><a href="http://hairfolioapp.com/terms-conditions/">Terms & Conditions</a></li>
            <li><a href="javasctipt:void(0)">Copyright Notifications</a></li>
          </ul>
        </div>
    </div>
  </div>
</footer>
