<toaster-container [toasterconfig]="config" style="z-index:111111;"></toaster-container>
<div class="container-fluid">
  <div class="row">
    <div class="commonpadfull">
      <div class="starredrowfull">
        <div  class="addresfrm">
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="addressinput">
              <h1> Change Password</h1>
              <form [formGroup]="changepassForm" (ngSubmit)="changepassFormSubmit()">
                  <div *ngIf="sucess_chnage" class="alert alert-success">
                      Change Password Sucessfully !!
                    </div>
                <div *ngIf="error" class="alert alert-danger">
                  {{error}}
                </div>
                <div class="form-group">
                  <label>Current Password</label>
                  <div class="frmfields">
                      <input type="password" class="form-control" formControlName="current_password"
                          placeholder="Current Password">
                      <div *ngIf="submitted && changepassForm.controls.current_password.invalid">
                          <div *ngIf="changepassForm.hasError('required', 'current_password')"
                              class="alert alert-danger">
                              Please enter Current Password.
                          </div>
                          <div *ngIf="!changepassForm.hasError('required', 'current_password') && 
                                              changepassForm.hasError('minlength', 'current_password')"
                              class="alert alert-danger">
                              Current Password should be minimum 6 latters.
                          </div>
                          <div *ngIf="!changepassForm.hasError('required', 'current_password') && 
                                              !changepassForm.hasError('minlength', 'current_password') && 
                                              changepassForm.hasError('maxlength', 'current_password')"
                              class="alert alert-danger">
                              Current Password should be maximum 16 latters.
                          </div>
                          <div *ngIf="!changepassForm.hasError('required', 'current_password') && 
                                              !changepassForm.hasError('minlength', 'current_password') && 
                                              !changepassForm.hasError('maxlength', 'current_password') && 
                                              changepassForm.hasError('whitespace', 'current_password')"
                              class="alert alert-danger">
                              Space is not allowed in Current Password.
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                <label>New Password</label>
                <div class="frmfields">
                    <input type="password" class="form-control" formControlName="password"
                        placeholder="New Password">
                    <div *ngIf="submitted && changepassForm.controls.password.invalid">
                        <div *ngIf="changepassForm.hasError('required', 'password')"
                            class="alert alert-danger">
                            Please enter New Password.
                        </div>
                        <div *ngIf="!changepassForm.hasError('required', 'password') && 
                                            changepassForm.hasError('minlength', 'password')"
                            class="alert alert-danger">
                            New Password should be minimum 6 latters.
                        </div>
                        <div *ngIf="!changepassForm.hasError('required', 'password') && 
                                            !changepassForm.hasError('minlength', 'password') && 
                                            changepassForm.hasError('maxlength', 'password')"
                            class="alert alert-danger">
                            New Password should be maximum 16 latters.
                        </div>
                        <div *ngIf="!changepassForm.hasError('required', 'password') && 
                                            !changepassForm.hasError('minlength', 'password') && 
                                            !changepassForm.hasError('maxlength', 'password') && 
                                            changepassForm.hasError('whitespace', 'password')"
                            class="alert alert-danger">
                            Space is not allowed in New Password.
                        </div>
                    </div>
                </div>
            </div>
              <div class="form-group">
                  <label> Confirm Password</label>
                  <div class="frmfields">
                      <input type="password" class="form-control" formControlName="password_confirmation"
                          placeholder="Confirm Password" noSpaces>
                      <div *ngIf="submitted && changepassForm.controls.password_confirmation.invalid">
                          <div *ngIf="changepassForm.hasError('required', 'password_confirmation')"
                              class="alert alert-danger">
                              Please enter confirm password.
                          </div>
                          <div *ngIf="!changepassForm.hasError('required', 'password_confirmation') && changepassForm.hasError('whitespace', 'password_confirmation')"
                              class="alert alert-danger">
                              Space is not allowed in password.
                          </div>
                      </div>
                      <div *ngIf="changepassForm.controls.password_confirmation.dirty && changepassForm.controls.password_confirmation.valid && (changepassForm.controls.password_confirmation.value !== changepassForm.controls.password.value)"
                          class="alert alert-danger">
                          New Password and confirm password must be same.
                      </div>
                  </div>
              </div>
                <div class="from-group">
                  <input type="submit" value="Change Password" class="btnblack">
                </div>
              </form>
            </div>
            <div class="addressinput mb-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>