<toaster-container [toasterconfig]="config" style="z-index:999999;"></toaster-container>
<div class="container-fluid">
  <div class="row">
    <div class="commonpadfull" [ngClass]="{show: shouldShow, hide: !shouldShow }">
      <!-- <div class="tagitemtop" >
      </div> -->

      <div class="row">
        <div class="col-sm-12 col-xs-12 slidercolumn">
          <div class="row justify-content-between align-items-center slidertitle">
            <div class="col-8 col-sm-8">
              <h1> <a href="javascript:void(0)" (click)="backclilked()"><img src="assets/images/back.png"
                    style="width: 50px;"> </a>{{title_post}}</h1>
            </div>
          </div>
          <div *ngIf="tag_searchesss" class="custome-list post-list-page">
            <ngx-carousel [inputs]="carouselTile">
              <ngx-item NgxCarouselItem *ngFor="let user of trendingposts">
                <div class="homepageitem">
                  <div class="homeitemhover">
                    <img img-preloader="{{user?.avatar_cloudinary_id}}" (error)="profileimgHandler($event)" alt="">
                    <div class="overdetails">
                      <div class="itemoverlay">
                        <div class="itemprofile">
                          <a href="javascript:void(0)" (click)="goToProfile(user?.id);$event.stopPropagation()">
                            <span class="itemprofilepic"><img img-preloader="{{user?.avatar_cloudinary_id}}"
                                (error)="profileimgHandler($event)"></span>
                            <!-- <span *ngIf="user?.avatar_cloudinary_id == null" class="itemprofilepic"><img
                                  src="assets/images/placeholder_user.png"></span> -->
                            <span
                              class="itemprofilename">{{user.first_name}}&#160;{{user.last_name}} </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-item>
              <button NgxCarouselPrev class='leftRs'></button>
              <button NgxCarouselNext class='rightRs'> </button>
            </ngx-carousel>
          </div>
          <div *ngIf="!tag_searchesss" class="custome-list post-list-slide">
            <ngx-carousel [inputs]="carouselTile">
              <ngx-item NgxCarouselItem *ngFor="let post of trendingposts">
                <div class="homepageitem showitem-page">
                  <div class="homeitemhover">
                    <img img-preloader="{{post?.photos[0]?.asset_url}}" (error)="imgErrorHandlers($event)" alt="">
                    <div class="overdetails">
                      <div class="itemoverlay" (click)="postDetails(post?.id)">
                        <div class="itemprofile">
                          <a href="javascript:void(0)" (click)="goToProfile(post?.user?.id);$event.stopPropagation()">
                            <span class="itemprofilepic"><img img-preloader="{{post?.user?.avatar_cloudinary_id}}"
                                (error)="profileimgHandler($event)"></span>
                            <!-- <span *ngIf="post?.user?.avatar_cloudinary_id == null" class="itemprofilepic"><img
                                src="assets/images/placeholder_user.png"></span> -->
                            <span *ngIf="post?.user?.account_type === 'consumer'"
                              class="itemprofilename">{{post?.user?.first_name}}
                              {{post?.user?.last_name}}</span>
                            <span *ngIf="post?.user?.account_type === 'stylist'"
                              class="itemprofilename">{{post?.user?.first_name}}
                              {{post?.user?.last_name}}</span>
                            <span *ngIf="post?.user?.account_type === 'owner'" class="itemprofilename">{{post?.user?.salon_name
                            | titlecase }}</span>
                            <span *ngIf="post?.user?.account_type === 'ambassador'" class="itemprofilename">{{post?.user?.brand_name
                            | titlecase }}</span>
                          </a>
                        </div>
                        <div class="productitem">
                          <ul>
                            <li *ngFor="let prod of post?.products| slice:-3"><a href="javascript:void(0)"
                                (click)="seeProductDetails($event, prod?.id);$event.stopPropagation()">
                                <span *ngIf="prod?.cloudinary_url != null" class="prothumb"><img
                                    img-preloader="{{prod?.cloudinary_url}}" (error)="imgErrorHandler($event)"></span>
                                <span *ngIf="prod?.name != null" class="proinfo">{{prod?.name | titlecase}}</span>
                                <!-- <span class="pricetag">${{(prod?.price != null)? prod?.price: '00.00'}}</span> -->
                                <span class="pricetag"  *ngIf="prod.price != prod.final_price"><s
                                  style="color: #9e9697;">${{(prod?.price != null)? prod?.price: '00.00'}}</s>&#160;&#160;&#160;${{(prod?.final_price != null)? prod?.final_price: '00.00'}}</span>
                                  <span class="pricetag"  *ngIf="prod.price == prod.final_price">${{(prod?.final_price != null)? prod?.final_price: '00.00'}}</span>
                              </a></li>
                          </ul>
                        </div>
                        <div class="hastagbottom">
                          <div class="hastagdetail">
                            <div *ngIf="is_logged_in" class="starred">
                              <a *ngIf="!post?.liked_by_me" href="javascript:void(0)"
                                (click)="likepost(post?.id,'thred');$event.stopPropagation()">
                                <i><img src="assets/images/starred-icon.svg"></i></a>
                              <a *ngIf="post?.liked_by_me" href="javascript:void(0)"
                                (click)="unlikepost(post?.id,'thred');$event.stopPropagation()">
                                <i><img src="assets/images/starred-icn-blue.svg"></i></a>
                              <span>{{post?.likes_count}}</span>
                            </div>
                            <div *ngIf="!is_logged_in" class="starred">
                              <a href="javascript:void(0)" (click)="notloginstared();$event.stopPropagation()">
                                <i><img src="assets/images/starred-icon.svg"></i></a>
                              <span>{{post?.likes_count}}</span>
                            </div>
                            <div *ngIf="is_logged_in" class="starred">
                              <a href="javascript:void(0)"
                                (click)="openModal(template1,post?.id);$event.stopPropagation()">
                                <i><img src="assets/images/chat-icon.svg"></i></a>
                              <span>{{post?.comments_count}}</span></div>
                            <div *ngIf="!is_logged_in" class="starred"><a href="javascript:void(0)"
                                (click)="notloginstared();$event.stopPropagation()"><i><img
                                    src="assets/images/chat-icon.svg"></i></a><span>{{post?.comments_count}}</span>
                            </div>
                          </div>
                          <p><a *ngFor="let tags of post?.photos[0]?.labels| slice:0:2"><a
                                *ngIf="tags?.tag?.name != null">#{{tags?.tag?.name}}</a></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-item>
              <button NgxCarouselPrev class='leftRs'></button>
              <button NgxCarouselNext class='rightRs'></button>
            </ngx-carousel>
          </div>
          <div *ngIf="show_loader" class="center-loader-main-n">
            <app-half-circle-spinner [animationDuration]="1000" [size]="60" [color]="'#000000'">
            </app-half-circle-spinner>
          </div>
          <!-- <div *ngIf="trendingposts?.length != 0" class="pagination-center">
            <pagination [totalItems]="product_totalCount" [(ngModel)]="product_page" [itemsPerPage]="product_limit"
              [maxSize]="4" (pageChanged)="pageChanged($event)"></pagination>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <ng-template #template1>
    <div class="chat_window">
      <div class="top_menu">
        <div class="title">Comments</div>
        <div class="close-btn" (click)="modalRef.hide()">
          <img src="assets/images/gn_0.png" height="55px;">
        </div>
      </div>
      <ul class="messages">
        <li class="text_wrapper" *ngFor="let prod of list_comments">
          <div class="itemprofilepost chat-contain">
            <span class="itemprofilepic">
              <img img-preloader="{{prod?.avatar_cloudinary_id}}" (error)="profileimgHandler($event)">
            </span>
            <div class="profiledesc chat-msg">
              <span *ngIf="prod?.account_type === 'consumer'" class="itemprofilename"><a href="javascript:void(0)"
                  style="padding-left: 0px;"
                  (click)="goToProfile(prod?.user_id)">{{prod?.first_name}}{{prod?.last_name}}</a></span>
              <span *ngIf="prod?.account_type === 'stylist'" class="itemprofilename"><a href="javascript:void(0)"
                  style="padding-left: 0px;"
                  (click)="goToProfile(prod?.user_id)">{{prod?.first_name}}{{prod?.last_name}}</a></span>
              <span *ngIf="prod?.account_type === 'owner'" class="itemprofilename"><a href="javascript:void(0)"
                  style="padding-left: 0px;"
                  (click)="goToProfile(prod?.user_id)">{{prod?.salon?.name | titlecase}}</a></span>
              <span *ngIf="prod?.account_type === 'ambassador'" class="itemprofilename"><a href="javascript:void(0)"
                  style="padding-left: 0px;"
                  (click)="goToProfile(prod?.user_id)">{{prod?.brand?.name | titlecase}}</a></span>

              <span style="float: right; ">{{prod?.created_at | date:' MMM d, y, h:mm a'}}</span>
              <span class="itemsubdesc">{{prod?.body}}</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="bottom_wrapper clearfix">
        <form [formGroup]="commentSend" (ngSubmit)="commentFormSubmit()">
          <div class="message_input_wrapper">
            <input type="text" id="tbName" formControlName="body" class="message_input"
              placeholder="Type your comment here..." />
            <div *ngIf="submitted && commentSend.controls.body.invalid">
              <div *ngIf="commentSend.hasError('required', 'body')" class="alert alert-danger" style="
                margin-top: 48px;">
                Please enter comment.
              </div>
            </div>
          </div>
          <button class="send_message">
            <div class="text">
              Send
            </div>
          </button>
        </form>
      </div>
    </div>
  </ng-template>
  <a href="javascript:void(0)" (click)="arrow_tops()" class="bottom-to-top">
    <img src="assets/images/arrow-top.svg" alt="bottom-to-top">
  </a>